In [1]:
%matplotlib inline
import akshare as ak
import mplfinance as mpf  # Please install mplfinance as follows: pip install mplfinance

stock_us_daily_df = ak.stock_us_daily(symbol="AAPL", adjust="qfq")
stock_us_daily_df.set_index("date", inplace=True)


stock_us_daily_df = stock_us_daily_df.loc["2022-02-06": "2023-03-10"]
stock_us_daily_df
#mpf.plot(stock_us_daily_df, type='candle', mav=(3, 6, 9), volume=True, show_nontrading=False)
#mpf.plot(stock_us_daily_df, type='line')
#mpf.plot(stock_us_daily_df, type='renko')
#mpf.plot(stock_us_daily_df, type='pnf')
#mpf.plot(stock_us_daily_df, type='ohlc')

               open      high       low   close      volume
date
2022-02-07  171.940  173.0258  170.0300  170.74  77251117.0
2022-02-08  170.810  174.4300  170.5100  173.91  74829217.0
2022-02-09  175.130  175.7300  173.9800  175.36  71284649.0
2022-02-10  173.220  174.5600  170.6300  171.20  90865829.0
2022-02-11  171.410  172.1600  167.1200  167.72  98670623.0
...             ...       ...       ...     ...         ...
2023-03-06  153.785  156.3000  153.4600  153.83  87558027.0
2023-03-07  153.700  154.0299  151.1300  151.60  56181943.0
2023-03-08  152.810  153.4700  151.8300  152.87  47204791.0
2023-03-09  153.559  154.5350  150.2250  150.59  53833582.0
2023-03-10  150.210  150.9400  147.6096  148.50  68572216.0

[274 rows x 5 columns]

In [2]:
# stock_a_daily_df = ak.stock_zh_a_hist(symbol="000001", period="daily", start_date="20100101", end_date='20230307', adjust="qfq")
# stock_a_daily_df.set_index("date", inplace=True)


# stock_a_daily_df = stock_a_daily_df.loc["2023-01-06": "2023-03-10"]
# stock_a_daily_df.to_csv("data/test.csv")

In [3]:
# ak.stock_zh_index_spot()

In [4]:
# fhps = ak.stock_fhps_em()
# fhps

In [5]:
# info=ak.stock_dividents_cninfo('600000')
# info

In [ ]:
#stock_zcfz_em_df = ak.stock_zcfz_em(date="20220331")
#stock_zcfz_em_df.to_csv(data)